#type{
    background-color: #f7F3F0;
}
h3{
    width: 50%;
    font-size: 30px;
    padding:15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 3%;
    text-align: center;
    background-color: #eddc94;
    border-radius: 60px 10px 60px 10px;
    text-shadow: 1.5px -1px 2px red;
    box-shadow: 10px 10px 5px #f1c40f;
}

#type1,#type2,#type3{
    background: linear-gradient(to bottom, #ffffff 0%, #f1c40f 100%);
    height:fit-content;
    position: relative;
    margin: 3% 4% 3% 6%;
    border-radius: 20px;
    z-index:1;
}
.part1,.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1% 3% 3% 3%;
}
img{
    float: left;
    width: 30%;
    padding:0.5% 2%;
}
.part1b{
    width: 70%;
    margin: auto;
    float:right;
}
h5{
    font-weight: bolder;
    color: black;
    text-shadow: 2px 3px 5px #e74c3c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    width: 100%;
    padding: 30px 20px 0px 100px;
    margin: 0;
}
p{
    font-size: 16px;
    color: black;
    padding-top:15px;
    text-indent: 30px;
    text-align: justify;
}

h2{
    font-size: 25px;
    padding-bottom:1%;
    padding-left: 3%;
    color: black;
    width:50%;
}

#mySidenav a{
	position:fixed;
	left:-105px;
	transition:0.3s;
	padding:10px 5px;
	width:150px;
	text-decoration:none;
	font-size:16px;
	color:white;
	border-radius:0 10px 10px 0;
    text-align: right;
    z-index:2;
}
#mySidenav a:hover{
	left:0;
}
#identity{
	top:10%;
	background-color:#e74c3c;
}
#investment{
	top:16%;
	background-color:#3498db;
}
#market{
	top:22%;
	background-color:#f1c40f;
}

@media only screen and (max-width: 768px) {
    h3{
        width: 68%;
        font-size: 23px;
    }

    img{
        width: 45%;
        padding:0.5% 1%;
    }

    .part1b{
        width:85%;
    }
    h5{
        font-size: 25px;
        padding: 30px 20px 0px 60px;
    }
    p{
        font-size: 12px;
        color: black;
    }
    
    h2{
        font-size: 18px;
        width:43%;
    }
    iframe{
        height: 180px;
    }
    #mySidenav a{
        width:112px;
        font-size:11.5px;
        left:-70px;
    }
    #identity{
        top:10%;
    }
    #investment{
        top:15%;
    }
    #market{
        top:20%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    h3{
        width: 60%;
        font-size: 25px;
    }

    img{
        width: 38%;
        padding:0.5% 1%;
    }
    .part1b{
        width: 62%;
        margin: auto;
    }
    h5{
        font-size: 27px;
        padding: 30px 20px 0px 60px;
    }
    p{
        font-size: 14px;
        color: black;
    }
    
    h2{
        font-size: 20px;
        width:45%;
    }
    iframe{
        height: 250px;
    }
    #mySidenav a{
        width:123px;
        font-size:12.5px;
        left:-80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    h3{
        width: 60%;
        font-size: 28px;
    }

    img{
        width: 35%;
        padding:0.5% 1%;
    }
    .part1b{
        width: 65%;
        margin: auto;
    }
    h5{
        font-size: 30px;
        padding: 30px 20px 0px 80px;
    }
    p{
        font-size: 15px;
        color: black;
    }
    
    h2{
        font-size: 18px;
        width:48%;
    }
    iframe{
        height: 300px;
    }
    #mySidenav a{
        width:130px;
        font-size:14px;
        left:-90px;

    }
}